<footer class="small p-3 px-md-4 mt-auto">
    <div class="row justify-content-between">
        <div class="col-lg text-center text-lg-left mb-3 mb-lg-0">
            <ul class="list-dot list-inline mb-0">
                <li class="list-dot-item list-dot-item-not list-inline-item mr-lg-2"><a class="link-dark"
                        href="#">FAQ</a></li>
                <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Support</a></li>
                <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Contact us</a></li>
            </ul>
        </div>

        <div class="col-lg text-center mb-3 mb-lg-0">
            <ul class="list-inline mb-0">
                <li class="list-inline-item mx-2"><a class="link-muted" href="#"><i class="gd-twitter-alt"></i></a></li>
                <li class="list-inline-item mx-2"><a class="link-muted" href="#"><i class="gd-facebook"></i></a></li>
                <li class="list-inline-item mx-2"><a class="link-muted" href="#"><i class="gd-github"></i></a></li>
            </ul>
        </div>

        <div class="col-lg text-center text-lg-right">
            &copy; 2023 ShoppeE. All Rights Reserved.
        </div>
    </div>
</footer>
<!-- End Footer -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="/graindashboard/js/graindashboard.js"></script>
<script src="/graindashboard/js/graindashboard.vendor.js"></script>

<!-- DEMO CHARTS -->
<script src="/demo/resizeSensor.js"></script>
<script src="/demo/chartist.js"></script>
<script src="/demo/chartist-plugin-tooltip.js"></script>
<script src="/demo/gd.chartist-area.js"></script>
<script src="/demo/gd.chartist-bar.js"></script>
<script src="/demo/gd.chartist-donut.js"></script>
<script>
    $.GDCore.components.GDChartistArea.init('.js-area-chart');
    $.GDCore.components.GDChartistBar.init('.js-bar-chart');
    $.GDCore.components.GDChartistDonut.init('.js-donut-chart');
</script>


</body>

</html>